/* color palette */
:root {
  --color-vibrant: rgb(0, 189, 126);
  --color-vibrant-rgb: 0, 189, 126;
  --color-white: #f8f8f8;
  --color-dark: #181818;
  --color-background: var(--color-dark);
}

/* sizes */
:root {
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 2rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --base-font-size: 16px;
}

/* look and feel */
:root {
  --radius-m: 5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
